# ============================================================
#  Polebot AMR Dashboard — Template de configuration InfluxDB
#  Copiez ce fichier en ".env" et remplissez vos valeurs.
#  Ce fichier PEUT être commité (pas de secrets ici).
# ============================================================

VITE_INFLUX_URL=http://<IP_ROBOT_OU_LOCALHOST>:8086
VITE_INFLUX_TOKEN=<VOTRE_TOKEN_INFLUXDB>
VITE_INFLUX_ORG=<VOTRE_ORG_ID>
VITE_INFLUX_BUCKET=polebot_data
